@import "colors.css";

* {
    all: unset;
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
}

#waybar {
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
}

tooltip {
    background-color: @base;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

.modules-center {
    padding: 0px 12px;
    border-radius: 99px;
    color: white;
}

.modules-left {
    padding: 0px 12px;
    border-radius: 99px;
    color: white;
}

.modules-right {
    padding: 0px 12px;
    border-radius: 99px;
    color: white;
}

#clock {
    font-weight: 600;
    color: @lavender;
    padding: 2px 12px;
    border-radius: 12px;
    background-color: @base;
    min-width: 2px;
}

#network {
	padding: 2px 12px;
    color: @peach;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: 500;
    background-color: @base;
    min-width: 2px;
}

#pulseaudio {
    color: @green;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: 500;
    background-color: @base;
    min-width: 2px;
}

#workspaces {
    background-color: @base;
    border-radius: 99px;
    font-weight: 600;
}

#workspaces button {
    padding: 0px 4px;
    margin: 0 2px;
    min-width: 2px;
    color: white;
}

#workspaces button.empty {
    color: @subtext0;
}

#workspaces button.active {
	color: @teal;   
}

#custom-media {
	background-color: @base;
	padding: 2px 6px;
	border-radius: 12px;
	color: @pink;
}

#cpu {
    color: @blue;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: 500;
    background-color: @base;
    min-width: 2px;
}

#memory {
    color: @maroon;
    padding: 2px 12px;
    border-radius: 12px;
    font-weight: 500;
    background-color: @base;
    min-width: 2px;
}
